---
layout: default
title: Homepage
seo:
    title: Index Page
    meta-description:
    meta-keywords:
    featured-image_path:
    hide-from-google: false
page_blocks:
    -
        _id: cta
        title: Call to Action Block
        text: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores ad, quis, sit officia est enim beatae recusandae unde perferendis reiciendis qui dolorem! Aliquam dolore eum odio. Odit rem in saepe.
        button-name: Read more
        button_url: https://www.google.com/
category-pages-links:
    - category-title: Travel
      category-page_url: https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80
    - category-title: Food
      category-page_url: https://images.unsplash.com/photo-1508496869408-df596454df1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bmV3JTIwbWV4aWNvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
    - category-title: Island Life
      category-page_url: https://images.unsplash.com/photo-1573455494060-c5595004fb6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dG9reW8lMjBuaWdodHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60
---
{% include posts-gallery.html %}

{% include blocks.html %}

{% include category-pages.html %}