---
layout: default
title: Homepage
seo:
    title: Index Page
    meta-description:
    meta-keywords:
    featured-image_path:
    hide-from-google: false
page_blocks:
    -
        _id: cta
        title: Call to Action Block
        text: Place holder
        button-name: Read more
        button_url: https://www.google.com/
    -
        _id: banner
        title: Image Banner
        banner_image: >-
            https://images.unsplash.com/photo-1557093793-e196ae071479?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJhbGl8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60
        banner-alt-text: Test
        section-styles:
---
{% include posts-gallery.html %}

<!-- {% for post in site.posts %}
    <a href="{{post.url}}">{{post.title}}</a>
{% endfor %} -->


