<header class="text-center">
    <p class="uppercase font-light text-6xl p-8">Logo</p>
    <nav class="border-black border-b border-t uppercase p-2 mx-8">
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
        <a class="px-5 mx-0.5" href="#">Link</a>
    </nav>
</header>