---
layout: default
---

<!-- Post info - date, byline, category, title -->
<section class="py-12 px-8 text-center">
    <div class="">
        <!-- Displays all the categories -->
        <a class="uppercase" href="#">{{page.category | join: " "}}</a>
        <!-- Displays only the specified catergory -->
        <!-- <a class="uppercase" href="#">{{page.category[0]}}</a> -->
        <h2 class="text-5xl font-bold p-4">{{page.title}}</h2>
        <p class="uppercase">By <a href="#">{{page.author}}</a></p>
        <p>{{ page.date | date: "%b %d, %Y" }}</p>
    </div>
</section>

{% for block in page.page_blocks %}
    {% include /blocks/{{block._id}}.html %}
{% endfor %}

{% include related-posts.html %}

{% include social-sharing.html %}